<!--p id="notice"><!--%= notice %--></p-->

<h1 align="center"><strong>Bicycle Listing</strong></h1>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'bicycle', obj: @bicycles %>
<div align="center">
  <%= will_paginate %>
</div>