// Place all the styles related to the Bicycles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Open+Sans|Libre+Barcode+39+Extended+Text|Libre+Barcode+128|Libre+Barcode+39|Bungee+Inline');
$navbar-default-bg: #DD4124;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 2.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: black;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  font-family: 'Libre Barcode 39', cursive;
  background-color: #fff;
  #background-image: asset-url('759px-Schwinn_StingRay_OrangeKrate_5speed_1968.jpg');
  background-size:cover;
  height: 600px;
  
  h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing:-1px;
    #padding: 5px 5px 5px 15px;
    font-size: 60px;
    margin-bottom: 30px;
  }
  .second {
      font-family: 'Bungee Inline', cursive;
      font-size: 50px;
      letter-spacing:3px;
      word-spacing: 3px;
    }
  .btn-xlarge{
    font-size: 1.5em;
    font-family: 'Bungee Inline', cursive;
    color: #fff;
    background-color: #333;
    border: #fff;
    font-weight: bold;
    margin-left: -47px;
    margin-top: 50px;
  }
}

  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
  }
  
  footer ul li {
    float: left;
    margin-left: 15px;
  }
  
  .bicycle-title {
    margin-bottom: 5px;
    text-align:center;
    font-weight: bold;
    font-size: 15px;
  }
  
  .bicycle-body-price{
    font-weight: bold;
  }
  
  h4 {
    #price {
      margin-top: 30px;
    }
  }