@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Open+Sans|Bungee+Inline|form-horizontal|Libre+Barcode+39+Extended+Text|Libre+Barcode+128|Libre+Barcode+39');



body {
  background-color: #fff;
  color: #222;
  font-family: 'Bungee Inline', cursive;
  font-size: 11px;
  line-height: 18px;
  text-align: justify;
  font-weight: bold;
}

p, ol, ul, td {
  font-family: 'Bungee Inline', cursive;
  font-size: 11px;
  line-height: 18px;
  color: #333;
}


pre {
  background-color: #eee;
  #background-color: #e6f9ff;
  padding: 10px;
  font-size: 11px;
}


a {
  color: black;

  &:visited {
    #color: #33ccff;
    color: #333;
  }

  &:hover {
    color: #333;
    background-color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.article-actions {
  margin-top: 20px;

    .btn{
      color: white;
      font-size: 0.85em;
    }
   .description{
    margin-top: 0px;
    
  }
  .hr {
    float:center;
  }
   .price{
    margin-bottom: 5px;
  }
}

.article-actions-show {
  margin-top: 10px;

  .btn {
    color:#fff;
    font-weight: bold;
    font-size: 0.85em;
  }
}
  
#notice {
  color: green;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}


#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #fff;
    color: black;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
  
}
